<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Some info about us and how awesome we are!</h2>
                <hr class="light">
                <p class="text-faded">Just a little sample bit of text here to show how cool we are!</p>
                <a href="#" class="btn btn-default btn-xl">Oh really?</a>
            </div>
        </div>
    </div>
</section>
