<section id="details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Here's what you need to know!</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>What?</h3>
                    <p class="text-muted">Marriage stuff!<p>
                    <p class="text-muted">Eating!</p>
                    <p class="text-muted">Drinking!</p>
                    <p class="text-muted">Dancing!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary"></i>
                    <h3>Where?</h3>
                    <p class="text-muted">Polloksheilds Burgh Hall<p>
                    <p class="text-muted">70 Glencairn Drive</p>
                    <p class="text-muted">Glasgow</p>
                    <p class="text-muted">G41 4LL</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-clock-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Where?</h3>
                    <p class="text-muted">Saturday<p>
                    <p class="text-muted">March 24th 2018</p>
                    <p class="text-muted">2pm</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-question wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>How?</h3>
                    <p class="text-muted"><a href="#directions">Directions</a><p>
                    <p class="text-muted"><a href="#hotels">Hotels</a><p>
                    <p class="text-muted"><a href="#places">Our favourite places!</a><p>
                </div>
            </div>
        </div>
    </div>
</section>
