<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="text-shadow: 2px 2px 24px #444444">Natalie Milor<br />
                                                                &<br />
                                                            Drew Jess</h1>
            <hr>
            <p style="text-shadow: 2px 2px 8px #222222">
               You heard that right!  We're getting married, and we're really looking forward
               to celebrating with everyone!  It's going to be so amazing.  Tell your friends!</p>
            <a href="#details" class="btn btn-primary btn-xl page-scroll">Tell me more!</a>
        </div>
    </div>
</header>
