<section id="details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Here's some stuff you might need to know!</h2>
                <br /><hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>What?</h3>
                    <p class="text-muted">The marriage of<p>
                    <p class="text-muted">Natalie Milor</p>
                    <p class="text-muted">&amp;</p>
                    <p class="text-muted">Drew Jess</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary"></i>
                    <h3>Where?</h3>
                    <p class="text-muted">Polloksheilds Burgh Hall<p>
                    <p class="text-muted">70 Glencairn Drive</p>
                    <p class="text-muted">Glasgow</p>
                    <p class="text-muted">G41 4LL</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-clock-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>When?</h3>
                    <p class="text-muted">Saturday<p>
                    <p class="text-muted">March 24th 2018</p>
                    <p class="text-muted">Ceremony starts at 2pm</p>
                    <p class="text-muted">Arrive from 1:30pm</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-question wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>How?</h3>
                    <p class="text-muted"><a href="#map">Map of venue</a><p>
                    <p class="text-muted"><a href="https://www.google.co.uk/maps/search/hotels+near+pollokshields+burgh+hall/@55.8509094,-4.2788953,14.35z">Hotels</a><p>
                    <p class="text-muted"><a href="https://drive.google.com/open?id=13ShsLUlS4f66rvXuUszxI1WTB6c&usp=sharing">Cafes, Bars &amp; Restaurants</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
