<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="text-shadow: 2px 2px 18px #222222">Natalie Milor<br />
                                                                &<br />
                                                            Drew Jess</h1><br />
            <p style="text-shadow: 2px 2px 2px #000000">are getting married!</p>
            <hr>
            <p style="text-shadow: 2px 2px 2px #000000">
               You heard that right!  We're getting married, and we're really looking forward
               to celebrating with everyone!  It's going to be amazing!</p>
            <a href="#details" class="btn btn-primary btn-xl page-scroll">Tell me more!  What are the plans?</a>
        </div>
    </div>
</header>
