<section class="bg-primary" id="map">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Here's where to go!</h2>
                <hr class="light">
                  <iframe
                    width="600"
                    height="450"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAT98QK3gxssZGhSc4YnZX2lgsfWOabZHs
                      &q=Polloksheilds+Burgh+Hall,Glasgow+Scotland&zoom=11" allowfullscreen>
                  </iframe>
                <p class="text-faded"></p>
                <a href="#gallery" class="btn btn-default btn-xl">Great! Show me some pics...</a>
            </div>
        </div>
    </div>
</section>
